# Only specify values that override defaults in configs/defaults/*.yaml
training:
  dataset_name: libritts
  output_dir: checkpoints/MelCausalVAE/setting4-b
  num_train_epochs: 2
  learning_rate: 1e-4
  per_device_train_batch_size: 2
  report_to: wandb
  wandb_project: convformer-cfm
  wandb_run_name: sigma-vae-medium_kl
  fp16: false
  bf16: true
  save_steps: 1000
  eval_steps: 100
  save_total_limit: 1
  gradient_accumulation_steps: 2
  dataloader_num_workers: 4
  from_pretrained: /home/ec2-user/checkpoints/MelCausalVAE/setting3/checkpoint-16000/model.safetensors
  #resume_from_checkpoint: checkpoints/MelCausalVAE/setting4-semantic-regulator/checkpoint-1000

convformer:
  compress_factor_C: 8
  tf_heads: 8
  tf_layers: 4
  latent_dim: 64
  n_residual_blocks: 3
  logvar_layer: false
  use_sofplus: false
  target_std: 1.0
  kl_loss_warmup_steps: 100
  kl_loss_weight: 7.0e-3

cfm:
  unet_dim: 1024
  unet_depth: 8
  unet_heads: 16
  unet_dropout_rate: 0.1
  use_conv_layer: true
  audio_latent_dim: 64
  uncond_prob: 0.15
  learned_prior: false
  is_causal: true